* {
  box-sizing: border-box;
}

.jphoto-wrapper {
  margin: 0;
  overflow: hidden;
  /*Custom Styling */
  width:50vw;
  height: 400px;
  position:relative;
}
.jphoto-carousel {
  overflow: hidden;
  display: grid;
  grid-auto-flow: column;
  height:100%;
  transition: left 400ms ease-in-out 0ms;
}
.jphoto-carousel > * {
  position: relative;
}
.jphoto-carousel img {
  object-fit: cover;
  height: 100%;
  width:100%;
}

/* Left and Right Arrows */
.jphoto-arrow {
  height: 100%;
  width: 20%;
  position: absolute;
  cursor: pointer;
}
.jphoto-left-arrow {
  left: 0;
  top:0;
  bottom: 0;
}
.jphoto-right-arrow {
  right: 0;
  top:0;
  bottom: 0;
}
.jphoto-inner-arrow {
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center;
  position: absolute;
  top: 50%;
  height: 0;
  width: 0;
  opacity: 0;
  transition: all 300ms ease-out;
}
.jphoto-arrow:hover .jphoto-inner-arrow {
  height:100%;
  width: 75%;
  opacity: 0.25;
  top: 0;
}
.jphoto-inner-left-arrow {
  left:5%;
  background-image: url('images/left-arrow.svg');

}
.jphoto-inner-right-arrow {
  right: 5%;
  background-image: url('images/right-arrow.svg');

}

/* Optional Styling */
.container {
  display: grid;
  justify-content: center;
  justify-items: center;
}
h1 {
  font-size: 2.5rem;
  margin: 1rem;
  text-align: center;
  display: block;

}
